.popular-container {
  background-color: #101828;
  min-height: 90vh;
  padding: 35px;
}
.popular-unordered-list {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
@media screen and (max-width: 768px) {
  .popular-container {
    padding: 20px;
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto;
}

.page-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin-right: 15px;
  padding: 10px;
  cursor: pointer;
}

.page-number {
  color: #ffffff;
  padding-right: 10px;
}
